:root {
    --dark: #3e3b3b;
    --green: rgb(61, 164, 164);
}

* {
    background-color: #F0F8FF;
    font-family: 'Silkscreen', cursive;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3b3b;
}

header img {
    background-color: var(--green);
}

footer {
    text-align: center;
    padding: 2% 0;
}

h1 {
    font-size: 250%;
    background-color: var(--green);
    padding: 1% 2%;

}

h2 {
    text-align: end;
    float: left;
    width: 30%;
    padding-right: 1%;
}


nav {
    background-color: var(--dark);

}

nav ul {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

nav li {
    background-color: var(--dark);
    list-style: url(./images/favicon-32x32.png);
    margin: 25px;
}

nav a {
    background-color: var(--dark);
    color: var(--green);
    font-size: 150%;
}

div.gallery {
    margin-bottom: -100px;
    max-width: 92%;
}

.gallery img {
    border-radius: 30px;
    border-style: solid;
    border-width: 30px;
    border-color: var(--green);
    max-width: 100%;
    height: auto;
    margin: 10px;
    cursor: url(./images/favicon-32x32.png), auto;
    opacity: .5;
    transition: 1s ease;
}

.gallery img:hover {
    opacity: 1;
    transition: 1s ease;
}

.gallery-2 img {
    border-radius: 30px;
    border-style: solid;
    border-width: 30px;
    border-color: var(--green);
    max-width: 100%;
    height: auto;
    margin: 10px;
    cursor: url(./images/favicon-32x32.png), auto;
    opacity: .5;
    transition: 1s ease;
}

.gallery-2 img:hover {
    opacity: 1;
    transition: 1s ease;
}

.desc {
    font-size: 100%;
    padding: 5% 0 5% 5%;
    background-color: var(--green);
    text-align: left;
    position: relative;
    bottom: 200px;
    left: 15px;
    width: 20%;
}

.desc-2 {
    font-size: 50%;
    padding: 5% 0 5% 5%;
    background-color: var(--green);
    text-align: left;
    position: relative;
    bottom: 110px;
    left: 15px;
    width: 20%;
}

.two-in-one {
    display: flex;
    max-width: 100%;
}

.gallery-2 {
    flex: 1;
    margin-right: 100px;
    margin-bottom: -50px;
}

#about-me div,
#contact-me div,
.work-gallery {
    display: flex;
    padding-left: 1%;
    margin-bottom: 40px;
    border-left-style: solid;
    flex-direction: column;
}

#cover img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}

#contact-me ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 10px 3%;
}

@media screen and (max-width: 896px) {
    nav ul {
        flex-direction: column;
    }

    #contact-me ul {
        flex-direction: column;
        padding-left: 15px;
    }

    #about-me div {
        padding-left: 15px;
    }
}

@media screen and (max-width:768px) {
    .gallery img {
        border-width: 10px;
    }

    .gallery-2 img {
        border-width: 10px;
    }
}

@media screen and (max-width:698px) {
    h2 {
        text-align: center;
        writing-mode: vertical-rl;
    }

    footer {
        padding: 5%;
        text-align: right;
    }

    .one {
        margin-bottom: 20px;
    }

    .two-in-one {
        margin-bottom: 20px;
        display: block;
    }

    .desc {
        bottom: 100px;
    }

    .desc-2 {
        bottom: 50px;
    }
}