:root {
    --dark: #3e3b3b;
    --green: rgb(61, 164, 164);
}

* {
    background-color: #F0F8FF;
    font-family: 'Silkscreen', cursive;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3b3b;
}

header img {
    background-color: var(--green);
}

footer {
    text-align: center;
    padding: 2% 0;
}

h1 {
    font-size: 250%;
    background-color:var(--green);
    padding: 1% 2%;

}

h2 {
    text-align: end;
    float: left;
    width: 30%;
    padding-right: 1%;
}


nav {
    background-color: var(--dark);

}

nav ul {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
  }
nav li {
    background-color: var(--dark);
    list-style:url(./images/favicon-32x32.png);
    margin: 25px;
}

nav a {
    background-color: var(--dark);
    color: var(--green);
    font-size: 150%;
}

#about-me div, #contact-me div {
    display: flex;
    padding-left: 1%;
    border-left-style:solid;
    flex-direction: column;
}
#cover img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}

#contact-me ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 10px 3%;
}

@media screen and (max-width: 896px) {
    nav ul{
        flex-direction: column;
    }
    #contact-me ul{
        flex-direction: column;
        padding-left: 15px;
    }
    #about-me div {
        padding-left: 15px;
    }
}